html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--page-bg);
  color: var(--text-color);
  font-family: var(--font-main);
}
///////////////////////////////

.prev-button {
  width: 50px;
  height: 50px;
  background-color: green;
}
.next-button {
  width: 50px;
  height: 50px;
  background-color: rebeccapurple;
}
