.content__headlines {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.content__headline {
  width: calc((100% - 25px * 5) / 6);
  color: var(--white-dark-color);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.content__headline:last-child {
  width: calc((100% - 25px * 5) / 10);
}

.information-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--white-light-color);
  padding: 25px 0;
}

.information-line:first-child {
  border-top: 1px solid var(--white-light-color);
}

.information-line__name,
.information-line__company,
.information-line__phone,
.information-line__email,
.information-line__country,
.information-line__status {
  width: calc((100% - 25px * 5) / 6);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.information-line__status {
  width: calc((100% - 25px * 5) / 10);

  .active,
  .inactive {
    display: flex;
    justify-content: center;
    background-color: var(--green-dark-color);
    color: var(--green-color);
    border: 1px solid var(--green-light-color);
    border-radius: 4px;
    padding: 4px 12px 4px 12px;
  }

  .inactive {
    background-color: var(--red-light-color);
    color: var(--red-color);
    border: 1px solid var(--red-dark-color);
  }
}

.information-line__email,
.information-line__phone {
  cursor: pointer;
  color: var(--black-color);
}
