.pagination-block {
  // width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

// .pagination-block__description {
//   font-size: 14px;
//   font-weight: 600;
//   color: #b5b7c0;
// }

// .pagination-block__search-pannel {
//   border: 1px solid black;
// }
// //////////////////////

.pagination {
  // background-color: gold;
  display: flex;

  li,
  .firstButton,
  .lastButton {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
    width: 26px;
    height: 24px;
    border: 1px solid #eeeeee;
    background-color: #f5f5f5;
    border-radius: 5px;
    font-size: 12px;
    transition: 0.5s;

    &:hover {
      background-color: rgba($color: #5932ea, $alpha: 0.25);
    }
  }

  .active {
    background-color: #5932ea;
    color: white;
    border: none;

    &:hover {
      background-color: #5932ea;
    }
  }
  button:not(:last-child, :first-child) {
    // margin: 0;
  }
}

.nextButton,
.prevButton {
  width: 26px;
  height: 24px;
  border: 1px solid #eeeeee;
  background-color: #f5f5f5;
  border-radius: 5px;
  font-size: 12px;

  &:hover {
    background-color: rgba($color: #5932ea, $alpha: 0.25);
  }
}

.nextButton {
  margin-left: 12px;
}

.prevButton {
  margin-right: 12px;
}

.ellipsis {
  display: flex;
  align-items: flex-end;
  font-size: 12px;
  font-weight: 500;
  margin: 0 5px;
}
